<div *ngFor="let p of panier; let i = index" class="produit-list-item">
    <div>
        <div>
            <p>marque: {{ p.produit.marque }}</p>
        </div>
        <div>
            <p>modele: {{ p.produit.modele }}</p>
        </div>
    </div>

    <div>
        <div>
            <p>prix: {{ p.produit.prix }}</p>
        </div>
        <div>
            <p>stock: {{ p.produit.stock }}</p>
        </div>
    </div>
    <div>
        <button (click)="delete(i)">retirer</button>
        <p>qt: {{p.qt}}</p>
    </div>
</div>